<nav class="navbar bg-body-tertiary" style="height: 8%; background-color: orangered !important;">
    <div class="container" style="margin-left: 2%;">
        <img src="../../assets/logoKrusty.png" class="logoSize">
    </div>
</nav>
<div class="mainBox" style="background-color: #FFA500;">
    <div class="row" style="width: 100%; margin: 0; padding: 1% 5% 0 5%; height: 50%;">
        <div class="col-sm-3" style="padding-top: 2%;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PEDIDO #0001</h5>
                    <div class="itemPedido">
                        <p class="card-text">Batata grande</p>
                        <p class="card-text">2x</p>
                    </div>
                    <div class="itemPedido">
                        <p class="card-text">Hambúrguer</p>
                        <p class="card-text">1x</p>
                    </div>
                    <div class="itemPedido">
                        <p class="card-text">Refri</p>
                        <p class="card-text">1x</p>
                    </div>
                    <div class="buttonDiv">
                        <button type="button" class="btn btn-primary endButton">Finalizar pedido</button>
                        <button type="button" class="btn btn-secondary" disabled>Pedido entregue</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding-top: 2%;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PEDIDO #0001</h5>
                    <div class="itemPedido">
                        <p class="card-text">Batata grande</p>
                        <p class="card-text">2x</p>
                    </div>
                    <div class="itemPedido">
                        <p class="card-text">Hambúrguer</p>
                        <p class="card-text">1x</p>
                    </div>
                    <div class="itemPedido">
                        <p class="card-text">Refri</p>
                        <p class="card-text">1x</p>
                    </div>
                    <div class="buttonDiv">
                        <button type="button" class="btn btn-primary endButton">Finalizar pedido</button>
                        <button type="button" class="btn btn-secondary" disabled>Pedido entregue</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding-top: 2%;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PEDIDO #0001</h5>
                    <div class="itemPedido">
                        <p class="card-text">Batata grande</p>
                        <p class="card-text">2x</p>
                    </div>
                    <div class="itemPedido">
                        <p class="card-text">Hambúrguer</p>
                        <p class="card-text">1x</p>
                    </div>
                    <div class="itemPedido">
                        <p class="card-text">Refri</p>
                        <p class="card-text">1x</p>
                    </div>
                    <div class="buttonDiv">
                        <button type="button" class="btn btn-primary endButton">Finalizar pedido</button>
                        <button type="button" class="btn btn-secondary" disabled>Pedido entregue</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding-top: 2%;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PEDIDO #0001</h5>
                    <div class="itemPedido">
                        <p class="card-text">Batata grande</p>
                        <p class="card-text">2x</p>
                    </div>
                    <div class="itemPedido">
                        <p class="card-text">Hambúrguer</p>
                        <p class="card-text">1x</p>
                    </div>
                    <div class="itemPedido">
                        <p class="card-text">Refri</p>
                        <p class="card-text">1x</p>
                    </div>
                    <div class="buttonDiv">
                        <button type="button" class="btn btn-primary endButton">Finalizar pedido</button>
                        <button type="button" class="btn btn-secondary" disabled>Pedido entregue</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding-top: 2%;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PEDIDO #0001</h5>
                    <div class="itemPedido">
                        <p class="card-text">Batata grande</p>
                        <p class="card-text">2x</p>
                    </div>
                    <div class="itemPedido">
                        <p class="card-text">Hambúrguer</p>
                        <p class="card-text">1x</p>
                    </div>
                    <div class="itemPedido">
                        <p class="card-text">Refri</p>
                        <p class="card-text">1x</p>
                    </div>
                    <div class="buttonDiv">
                        <button type="button" class="btn btn-primary endButton">Finalizar pedido</button>
                        <button type="button" class="btn btn-secondary" disabled>Pedido entregue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>