<nav class="navbar bg-body-tertiary" style="height: 8%; background-color: orangered !important;">
    <div class="container" style="margin-left: 2%;">
        <img src="../../assets/logoKrusty.png" class="logoSize" alt="...">
    </div>
</nav>
<div class="mainBox">
    <button mat-flat-button class="admButton" style="background-color: #1E90FF; color: white;"
        (click)="registrar()">
        Adicionar Produto
    </button>
    <button mat-flat-button class="admButton" style="background-color: #1E90FF; color: white;"
        (click)="produtos()">
        Visualizar Produtos
    </button>
    <button mat-flat-button class="admButton" style="background-color: #1E90FF; color: white;"
        (click)="newPromo()">
        Adicionar Promoção
    </button>
    <button mat-flat-button class="admButton" style="background-color: #1E90FF; color: white;"
        (click)="promocoes()">
        Visualizar promoções
    </button>
    <button mat-flat-button class="admButton" style="background-color: #1E90FF; color: white;"
        (click)="graficos()">
        Dashboard
    </button>
    <button mat-flat-button class="admButton" style="background-color: #1E90FF; color: white;"
        (click)="totem()">
        Totem
    </button>
    <button mat-flat-button class="admButton" style="background-color: #1E90FF; color: white;"
        (click)="pedidos()">
        Pedidos
    </button>
</div>