<nav class="navbar bg-body-tertiary" style="height: 8%; background-color: orangered !important;">
    <div class="container" style="margin-left: 2%;">
        <img src="../../assets/logoKrusty.png" class="logoSize">
    </div>
</nav>
<div class="mainBox">
    <button type="button" class="btn btn-secondary admButton">Produtos</button>
    <button type="button" class="btn btn-secondary admButton">Promoções</button>
    <button type="button" class="btn btn-secondary admButton">Dashboard</button>
    <button type="button" class="btn btn-secondary admButton">Totem</button>
    <button type="button" class="btn btn-secondary admButton">Pedidos</button>
</div>