<form>
    <mat-form-field>
        <mat-label>Selecione o Produto</mat-label>
        <mat-select [(value)]="produtoId">
            <!-- (selectionChange)="update($event)" -->
            @for (item of list2; track item) {
                <mat-option [value]="item.id">{{ item.nome }}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <p>
        <mat-form-field appearance="fill">
            <mat-label>Preço</mat-label>
            <input matInput type="text"
                [(ngModel)]="precoPromo" name="preco"/>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput type="text"
                [(ngModel)]="nome"
                name="nome"/>
        </mat-form-field>
    </p>

    <button mat-flat-button style="background-color: #1E90FF; color: white;"
    (click)="create()">
        Criar
    </button>

</form>