.mainBox {
    background-color: #FFA500;
    height: 92%;
    overflow-y: hidden;
    /* font-family: 'Vina Sans', sans-serif; */
}

.logoSize {
    width: calc(220px * 0.3);
    height: calc(178px * 0.3);
}

.addButton {
    background-color: #1E90FF;
    font-size: 20px;
}

.addDiv {
    height: 5%;
    margin: 2% 0 2% 2%;
}

.cardImg {
    width: calc(195px * 0.8);
    height: calc(166px * 0.8);
    margin-top: 10px;
}

.endButton {
    background-color: #1E90FF;
}

mat-form-field{
    width: 400px;
    margin: 10px;
}

button, mat-flat-button{
    width: 120px;
    height: 50px;
    color: white;
    margin: 10px;
    background-color: #1E90FF;
}