<nav class="navbar bg-body-tertiary" style="height: 8%; background-color: orangered !important;">
    <div class="container" style="margin-left: 2%;">
        <img src="../../assets/logoKrusty.png" class="logoSize" alt="...">
    </div>
</nav>
  <div class="row" style="width: 100%; margin: 0; padding: 1% 5% 1% 5%; background-color: #FFA500;">
    @for (item of list2; track item) {
      <div class="col-sm-3" style="padding-top: 2%;">
          <div class="card" style="align-items: center;">
              <img src="../../assets/krusty.png" class="card-img-top cardImg" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{item.nome}} - ${{item.preco}}
              </h5>
                <p class="card-text">{{item.descricao}}</p>
              </div>
            </div>
      </div>
    }
  </div>