<main class="row" style="margin: 0;">
    <div class="loginBox col-sm-7" style="margin-top: 7%;">
        <img class="logoSize" src="../../assets/logoKrusty.png">
            <p>
                <mat-form-field appearance="fill" class="inputLogin">
                    <input matInput placeholder="Login"
                        [(ngModel)]="username"/>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="inputLogin">
                    <input matInput type="password" placeholder="Senha"
                        [(ngModel)]="password"/>
                </mat-form-field>
            </p>
            <button class="btn btn-primary submitButton" (click)="logar()">Entrar</button>
    </div>
    <button mat-flat-button color="primary"
        (click)="registrar()">
        Criar Nova Conta
    </button>
</main>