<main>
    <div class="loginBox">
        <img class="logoSize" src="../../assets/logoKrusty.png">
        <form>
            <div class="form-floating mb-3 inputLogin">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" class="textInput">Login</label>
            </div>
            <div class="form-floating inputLogin">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Senha</label>
            </div>
            <button class="btn btn-primary submitButton" type="submit">Entrar</button>
        </form>
    </div>
</main>