<nav class="navbar bg-body-tertiary" style="height: 8%; background-color: orangered !important;">
    <div class="container" style="margin-left: 2%;">
        <img src="../../assets/logoKrusty.png" class="logoSize" alt="...">
    </div>
</nav>
<div class="mainBox">
    <button mat-flat-button class="admButton" style="background-color: #1E90FF; color: white; border-radius: 10px;"
        (click)="produtos()">
        Visualizar Produtos
    </button>
    <button mat-flat-button class="admButton" style="background-color: #1E90FF; color: white; border-radius: 10px;"
        (click)="promocoes()">
        Visualizar Promoções
    </button>
</div>