.mainBox {
    background-color: #FFA500;
    height: 92vh;
    overflow-y: hidden;
    /* font-family: 'Vina Sans', sans-serif; */
}

.logoSize {
    width: calc(220px * 0.3);
    height: calc(178px * 0.3);
}

.addButton {
    background-color: #1E90FF;
    font-size: 20px;
}

.addDiv {
    height: 5%;
    margin: 2% 0 2% 2%;
}

.productCategories {
    height: 100%;
    background-color: #00000021;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.products {
    background-color: #1E90FF;
    height: 100%;
}

.iconDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.icon {
    height: 180px;
}

.col-sm-9::-webkit-scrollbar {
    display: none;
}

.carrinho {
    height: 25vh;
    background-color: crimson;
    overflow-y: scroll;
}

.carrinho::-webkit-scrollbar {
    display: none;
}

.itemPedido {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #e9d5b8;
}