.mainBox {
    background-color: #FFA500;
    height: 100vh;
    overflow-y: hidden;
    /* font-family: 'Vina Sans', sans-serif; */
}

.logoSize {
    width: calc(220px * 0.3);
    height: calc(178px * 0.3);
}

.addButton {
    background-color: #1E90FF;
    font-size: 20px;
}

.addDiv {
    height: 5%;
    margin: 2% 0 2% 2%;
}

.productCategories {
    height: 90%;
    background-color: lightgray;
    align-items: center;
}

.products {
    background-color: darkblue;
    height: 100%;
}

.iconDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.icon {
    height: 180px;
}