<nav class="navbar bg-body-tertiary" style="height: 8vh; background-color: orangered !important;">
    <div class="container" style="margin-left: 2%;">
        <img src="../../assets/logoKrusty.png" class="logoSize" alt="...">
    </div>
</nav>
<div class="mainBox" style="margin: 0; padding: 0;">
    <div class="row" style="width: 100%; height: 67vh; margin: 0;">
        <div class="col-sm-3 productCategories">
            <div class="iconDiv">
                <img src="../../assets/hamburguer.png" class="icon" alt="...">
            </div>
            <div class="iconDiv">
                <img src="../../assets/soda.png" class="icon" alt="...">
            </div>
            <div class="iconDiv">
                <img src="../../assets/milkshake.png" class="icon" alt="...">
            </div>
        </div>
        <div class="col-sm-9 products" style="overflow-y: scroll;">
            <div class="row" style="width: 100%; margin: 0; padding: 1% 5% 0 5%; height: 50%;">
                @for (item of list; track item)
                {
                    <div class="col-sm-6" style="padding-top: 2%; padding-bottom: 2%">
                        <div class="card" style="align-items: center;">
                            <img src="../../assets/krusty.png" class="card-img-top cardImg" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">{{item.nome}} - ${{item.preco}}
                            </h5>
                              <p class="card-text">{{item.descricao}}</p>
                              <button type="button" class="btn btn-primary endButton">Adicionar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="carrinho">
        <div>
            
        </div>
        <div class="itemPedido">
            <p class="card-text">Batata grande</p>
            <p class="card-text">2x</p>
        </div>
        <div style="width: 5%;">
            <button><p>+</p></button>
            <button><p>-</p></button>
        </div>
    </div>
</div>
